body .main{
	padding: 15px;
	background-size: cover;
}

h2 {
	text-decoration: underline;
}

.avatar {
	max-height: 300px;
	max-width: 300px;
}

.good_morning {
	max-width: 250px;
	max-height: 250px;
}

.hunting {
	max-width: 250px;
	max-height: 250px;
}

.love {
	max-width: 250px;
	max-height: 250px;
}

/* login page*/

input {
   height: 35px;
   width: 200px;
   font-size: 18px;
   margin-bottom: 5px;
   padding-left: 20px;
   font-family: fantasy;
}

.login{
	background-image: url(photo/zajac_1.jpg);
	background-size: cover;
}

.container{
	width: 250px;
	height: 140px;
	text-align: center;
	background-color: rgba(54,94,11,0.6);
	border-radius: 4px;
	margin: 0 auto;
	margin-top: 40px;
}
form{
  
}

